{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'exam/style.css' %}">
	</head>
	<body class="mainbody">
		<header id="header">Quizzo - Give an online quiz of what interests you.
		
			<div class="logout-btn">
				<a href="{% url 'logout' %}">LogOut</a>
			</div>
			
		</header>

		{% block body %}
		{% endblock %}

		<div class="recent">
			<h2 align="center">Recent Activity</h2>
			{% block content %}
			{% endblock %}
			
		</div>

	</body>
</html>