{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'exam/style.css' %}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	</head>
	<body class="mainbody">
		<div class="random">
		<header id="header">Quizzo - Give an online quiz of what interests you.
			{% block user %}
			{% endblock %}
			<div class="home-btn">
				<a href="{% url 'index' %}">Home</a>
			</div>
			<div class="logout-btn">
				<a href="{% url 'logout' %}">LogOut</a>
			</div>
			
		</header>
		<div class="left">
			{% block body %}
			{% endblock %}
		</div>	
		</div>
		<div class="recent">
			<h2 align="center">Recent Activity</h2>
			{% block content %}
			{% endblock %}
			
		</div>

	</body>
</html>