{% extends "exam/base.html" %}

{% block title %}
Dashboard | {{user}}

{% endblock %}

{% block body %}
	
	<div>
		<h2>Subjects</h2>
		<ul>
			{% for subject in subjects %}
				<li><a href="{% url 'topics' subject.code %}">{{ subject.code }} | {{ subject.name }}</a></li>
			{% empty %}
				<b>No Subjects.</b>
			{% endfor %}
		</ul>

	</div>



{% endblock %}


{% block content %}
	<ol>
		{% for activity in activities %}
			<li type="1">
				<b>Test: {{activity.topic}}</b>
				<ul>
					<li>Score : {{activity.marks_obtained}} out of {{activity.marks_total}}</li>
				</ul>
			</li>
		{% empty %}
			<b>No Recent Activity.</b>
		{% endfor %}
	</ol>	
{% endblock %}