{% extends "exam/base.html" %}

{% block title %}
Dashboard | {{user}}

{% endblock %}

<!-- <script>
	document.querySelector('#search').onkeyup = () => {
		const search_text = document.querySelector('#search').value;

		const request = new XMLHttpRequest();

		request.open('POST', 'search');
		request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
		request.onload = () => {
			const data = JSON.parse(request.responseText);


		}

		const data = new FormData();
		data.append('search_text', search_text);
		request.send(data);
	}

</script>
 -->

{% block body %}

<script id="link" type="text/x-handlebars-template">

	<li>
		<a href="{% verbatim %}{{ link }}{% endverbatim %}">{% verbatim %} {{ name }} {% endverbatim %}</a>
	</li>
		
</script>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		document.querySelector('#search').onkeyup = () => {
			var searchtext = document.querySelector('#search');
			if (searchtext.value !== "") {
				document.querySelector('#ul').innerHTML = "";
				document.querySelector('#searcharea').style.display = "block";
				document.querySelector('#subject').style.display = "none";
				document.querySelector('#topic').style.display = "none";
				const search_text = searchtext.value;

				const request = new XMLHttpRequest();

				request.open('POST', 'search');
				request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
				request.onload = () => {
					const data = JSON.parse(request.responseText);
					console.log(data.res);
					for (x of data.res){
						console.log(x);
						add_link(x);
					}
					// {% for x in data %}
					// 	console.log(x.name);
					// {% endfor %}
				}

				const data = new FormData();
				data.append('search_text', search_text);
				request.send(data);
						
			} else {

				document.querySelector('#subject').style.display = "block";
				document.querySelector('#topic').style.display = "block";
				document.querySelector('#ul').innerHTML = "";
				document.querySelector('#searcharea').style.display = "none";
			}
		}
		// function foo(contents) {
		// 	console.log(contents);
		// 	const link = document.createElement('a');
		// 	link.innerHTML = contents.subject + "-" + contents.code + "|" + contents.name;
		// 	var url = "{% url 'test' 123 %}";
		// 	var id = contents.id;
		// 	link.href = url.replace('123', contents.id)

		// 	document.querySelector('#searcharea').append(link);
		// }



		const link_template = Handlebars.compile(document.querySelector('#link').innerHTML);
		function add_link(contents) {
			const name = contents.subject + "-" + contents.code + "|" + contents.name;
			console.log(name);
			var url = "{% url 'test' 123 %}";
			var id = contents.id;
			const m = url.replace('123', contents.id);
			console.log('in add_link');
			console.log('link:' + m);
			const link = link_template({'name': name, 'link': m});

			document.querySelector('#ul').innerHTML += link;
		}	
	});
	
	
</script>

	<div>
		<form>
			{% csrf_token %}
			<input id="search" type="text" name="search" autocomplete="off" placeholder="Search for topics here">
<!-- 			<datalist id="searchresults">
				{% for topic in topics %}
				<option value="{{topic}}"></option>
				{% endfor %}
			</datalist> -->
			<!-- <input class="btn btn-primary" type="submit" value="Search"> -->
		</form>
	</div>
	
	<div id="subject">
		<h2>Subjects</h2>
		<ul>
			{% for subject in subjects %}
				<li><a href="{% url 'topics' subject.code %}">{{ subject.code }} | {{ subject.name }}</a></li>
			{% empty %}
				<b>No Subjects.</b>
			{% endfor %}
		</ul>

	</div>

	<div id="topic">
		<h2>All Topics</h2>
		<ul>
			{% for topic in topics %}
				<li><a href="{% url 'test' topic.id %}">{{ topic }}</a></li>
			{% empty %}
				<b>No topics.</b>
			{% endfor %}
		</ul>
	</div>
	<div id="searcharea">
		<h2>Search Results</h2>
		<ul id="ul">
			
		</ul>
	</div>



{% endblock %}


{% block content %}
	<ol>
		{% for activity in activities %}
			<li type="1">
				<b>Test: {{activity.topic}}</b>
				<ul>
					<li>Score : {{activity.marks_obtained}} out of {{activity.marks_total}}</li>
				</ul>
			</li>
		{% empty %}
			<b>No Recent Activity.</b>
		{% endfor %}
	</ol>	
{% endblock %}