{% extends "exam/base.html" %}

{% block title %}
Test
{% endblock %}

{% block body %}
<script>
	alert("Instructions");

	document.addEventListener('DOMContentLoaded', () => {
		var count = 15;
		var interval = setInterval(() => {
			document.querySelector('#time').innerHTML = count;
			count--;
			if (count === 0) {
				clearInterval(interval);
				// document.querySelector('#time').innerHTML = "Timeup";
				alert("Timeup");

			}
		}, 1000);
		
		// {% for question in questions %}
		// 	document.getElementById("{{question.id}}").style.backgroundColor = "green";
		// {% endfor %}

		

	});

	function btnch(obj) {

		
			// var x = document.querySelectorAll('[name={{question.id}}]');
		var value = obj.name;
			// var test = document.querySelectorAll('[name={{question.id}}]');
		document.getElementById(value).style.backgroundColor = "green";

	}



</script>
	<header>
		<div class="logout-btn">
		<a href="{% url 'logout' %}">LogOut</a>
		</div>
		
	</header>

	<div>
		<h2>Quiz</h2>
		<b>Time: <div id="time">Test Begins</div></b>
		<div>
			{% for question in questions %}
				<button id="{{question.id}}">{{forloop.counter}}</button>
			{% endfor %}
		</div>
		<ol>
			{% for question in questions %}
				<li>
					<b>Question.</b> <i>{{ question.question }}</i>
					<ol type="A">
					{% for choice in question.choices.all %}
						<li><input type="radio" name="{{question.id}}" value="{{choice.value}}" onchange="btnch(this)">{{choice.choice}}<br></li>
					{% endfor %}
					</ol>
				</li>
			{% endfor %}
		</ol>

	</div>

{% endblock %}