{% extends "exam/base.html" %}

{% block title %}
Dashboard

{% endblock %}

{% block body %}
	
	<div>
		<h2>Topics</h2>
		<ol>
			{% for topic in topics %}
				<li><a href="{% url 'test' topic.id %}">{{ topic }}</a></li>
			{% empty %}
				<b>No topics.</b>
			{% endfor %}
		</ol>
	</div>



{% endblock %}

{% block content %}
	<ol>
		{% for activity in activities %}
			<li type="1">
				<b>Test: {{activity.topic}}</b>
				<ul>
					<li>Score : {{activity.marks_obtained}} out of {{activity.marks_total}}</li>
				</ul>
			</li>
		{% empty %}
			<b>No Recent Activity.</b>
		{% endfor %}
	</ol>	
{% endblock %}