.column {
	float: left;
	padding: 10px;
	width: 170px;
}
.logincolumn {
	float: left;
	padding: 50px;
}
.row {
	content: "";
	display: table;
	clear: both;
}


#header {
	font-size: 30px;
	font-style: bold;
	margin-bottom: 300px;
	background-color: skyblue;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

}
